.idea/
client/project/
client/src/main/java/
client/src/main/resources/
client/src/main/scala-2.11/
client/src/test/
client/target/
project/target/
server/logs/
server/project/
server/src/main/java/
server/src/main/scala-2.11/
server/src/test/
server/target/
shared/.js/
shared/.jvm/
shared/src/main/scala-2.11/
shared/src/test/
target/